passwords.py
channels.py
nous-hermes-llama-2-7b.ggmlv3.q5_0.bin
nous-hermes-llama-2-7b.ggmlv3.q8_0.bin
llama2_7b_chat_uncensored.ggmlv3.q5_1.bin
llama2_7b_chat_uncensored.ggmlv3.q4_1(1).bin
llama-2-13b-guanaco-qlora.ggmlv3.q2_K.bin
llama-2-13b-chat.ggmlv3.q2_K.bin
llama-2-7b-chat.ggmlv3.q4_1.bin
.cache-itszraven
.cache
uncensored_quick_llama2.bin
.cache
passwords.cpython-311.pyc
music.cpython-311.pyc
spotipy.txt